.sTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #2a2a2a;
  padding: 40px;
}

.sTable th,
.sTable td {
  padding: 10px;
  text-align: left;
  border: 2px solid #434343;
  font-size: 19px;
}

.sTable th {
  background-color: #505050;
}

.sTable tr:hover {
  background-color: #3a3a3a !important;
}

.contestList {
  list-style-type: none;
  padding: 0;
}

.contestList li {
  background-color: #5d5d5d;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

