.cplsTable th, 
.cplsTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #434343;
    border-left: 2px solid #434343;
    border-top: 2px solid #434343;
    border-right: 2px solid #434343;
    font-size: 19px;
    background-color: #23242c;
}

.cplsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 40px;
}

.cplsTable tr:hover {
    background-color: #3a3a3a !important;
}

.cplsTable th {
    background-color: #505050;
}

.cpButton {
  padding: 10px 7px;
  border: 1px outset buttonborder;
  color: #444444;
  background-color: #aaaaaa;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  justify-content: flex-start;
  margin: 10px;
  gap: 10px;
}