@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


h1, h2 {
    color: #e0e0e0;
}

h1 span {
    color: inherit;
}


button {
    padding: 5px 10px;
    background-color: #55aaff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4488cc;
}
