@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import "tailwindcss";
@import "katex/dist/katex.min.css";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

:root {
  --font-source-sans: 'Source Sans Pro', sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

body {
  background-color: #1e1e1e;
  font-family: var(--font-source-sans);
  color: #ffffff;
}

.bqtoj {
  color: #d900ff;
  font-weight: bold;
  font-size: 25px;
  font-family: var(--font-source-sans), 'Source Sans Pro', sans-serif;
  text-shadow: 1px 1px 2px black;
}

.auth-button {
  padding: 3px 10px;
  border: 1px outset buttonborder;
  border-radius: 10px;
  color: #444444;
  background-color: #aaaaaa;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  margin-block: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.elo-3000-plus { color: #8b0000; } /* Red */
.elo-2700-3000 { color: #ff0000; } /* Red */
.elo-2500-2700 { color: #ff7575; } /* Red */
.elo-2300-2500 { color: #ffaa00; } /* Orange */
.elo-2100-2300 { color: #fbff00; } /* Yellow */
.elo-1900-2100 { color: #aa00aa; } /* Purple */
.elo-1750-1900 { color: #7900fa; } /* Blue */
.elo-1600-1750 { color: #55aaff; } /* Blue */
.elo-1500-1600 { color: #15d0ff; } /* Cyan */
.elo-1400-1500 { color: #00aaaa; } /* Cyan */
.elo-1200-1400 { color: #00aa00; } /* Green */
.elo-800-1200 { color: #aaaaaa; } /* Gray */
.elo-0-800 { color: #ffffff; } /* White */

.redirect-button {
  padding: 10px 68.3px;
  border: 1px outset buttonborder;
  color: #444444;
  background-color: #aaaaaa;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  justify-content: flex-start;  
  width: 100%;
  height: 50%;
}

.redirect-button:hover {
    background-color: #4488cc;
}

button {
    padding: 5px 10px;
    background-color: #55aaff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4488cc;
}


.main-top {
  color: #444444;
  background-color: #474747;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    font-family: 'Source Sans Pro', sans-serif;
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: 800; 
  font-style: normal;
}
