@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');



h1, h2 {
    color: #e0e0e0;
}

h1 span {
    color: inherit; /* Ensure h1 doesn't override span colors */
}



.contest-list {
    list-style-type: none;
    padding: 0;
}

.contest-list li {
    background-color: #5d5d5d;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.elo-3000-plus { color: #8b0000; } /* Red */
.elo-2700-3000 { color: #ff0000; } /* Red */
.elo-2500-2700 { color: #ff7575; } /* Red */
.elo-2300-2500 { color: #ffaa00; } /* Orange */
.elo-2100-2300 { color: #fbff00; } /* Yellow */
.elo-1900-2100 { color: #aa00aa; } /* Purple */
.elo-1750-1900 { color: #7900fa; } /* Blue */
.elo-1600-1750 { color: #55aaff; } /* Blue */
.elo-1500-1600 { color: #15d0ff; } /* Cyan */
.elo-1400-1500 { color: #00aaaa; } /* Cyan */
.elo-1200-1400 { color: #00aa00; } /* Green */
.elo-800-1200 { color: #aaaaaa; } /* Gray */
.elo-0-800 { color: #ffffff; } /* White */

/* Ensure currentRating inherits the Elo color */
#currentRating.elo-3000-plus { color: #8b0000; } /* Red */
#currentRating.elo-2700-3000 { color: #ff0000; } /* Red */
#currentRating.elo-2500-2700 { color: #ff7575; } /* Red */
#currentRating.elo-2300-2500 { color: #ffaa00; } /* Orange */
#currentRating.elo-2100-2300 { color: #fbff00; } /* Yellow */
#currentRating.elo-1900-2100 { color: #aa00aa; } /* Purple */
#currentRating.elo-1750-1900 { color: #7900fa; } /* Blue */
#currentRating.elo-1600-1750 { color: #55aaff; } /* Blue */
#currentRating.elo-1500-1600 { color: #4bdbff; } /* Cyan */
#currentRating.elo-1400-1500 { color: #00aaaa; } /* Cyan */
#currentRating.elo-1200-1400 { color: #00aa00; } /* Green */
#currentRating.elo-800-1200 { color: #aaaaaa; } /* Gray */
#currentRating.elo-0-800 { color: #ffffff; } /* Write */

/* Top 100 users in leaderboard */
.elo-top-100 { font-weight: bold; }


/* Animation for the shiny effect */
@keyframes shine {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

/* Chat styles */
#chatMessages {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #222;
    color: #e0e0e0;
}

#chatMessages p {
    margin: 5px 0;
}

#chatMessages strong {
    color: #55aaff; /* Blue for usernames, consistent with Elo colors */
}

#chatInput {
    width: 70%;
    padding: 5px;
    margin-right: 10px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

#chatInput:focus {
    outline: none;
    border-color: #55aaff;
}

button {
    padding: 5px 10px;
    background-color: #55aaff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4488cc;
}
