.cpButton {
  padding: 10px 7px;
  border: 1px outset buttonborder;
  color: #444444;
  background-color: #aaaaaa;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  justify-content: flex-start;
  margin: 10px;
  gap: 10px;
}

.cspTable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #2a2a2a;
    padding: 40px;
}

.cspTable th, 
.cspTable td {
    padding: 10px;
    border-bottom: 2px solid #434343;
    border-left: 2px solid #434343;
    border-top: 2px solid #434343;
    border-right: 2px solid #434343;
    font-size: 15px;
}

.cspTable th {
    background-color: #505050;
}

.cspTable tr:hover {
    background-color: #3a3a3a !important;
}